<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBS6-LJXI80RNXEQw1Nrt4etm_d9WpiiYs</string>
	<key>GCM_SENDER_ID</key>
	<string>1011299057704</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pe.usmpapp.alumnos.dev2</string>
	<key>PROJECT_ID</key>
	<string>usmp-60cd7</string>
	<key>STORAGE_BUCKET</key>
	<string>usmp-60cd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1011299057704:ios:d68710c0005a71ff62751d</string>
</dict>
</plist>